body {
    background-color: #D3D3D3;
    /* color: white; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 3% 6%;
    border-radius: 25px;
}

.choice-container{
    margin-bottom: 25px;
}
.choice {
    /* background: linear-gradient(180deg,rgba(42, 157, 143, 1) 0%, rgba(31, 135, 152, 1) 100%); */
    background: linear-gradient(180deg, #fffb7d, #85ffbd );
    border: none;
    /* color: white; */
    color: #7a7a7a;
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
}

.choice:hover {
    /* background: linear-gradient(180deg, rgba(233,196,106,1) 0%, rgba(233,166,106,1) 100%); */
    background: linear-gradient(180deg, #fff564, #ff9c9c);
    color: white;
    cursor: pointer;
}

p {
    color: black;
}

hr {
    height: 3px;
    width: 100%;
    background-color: #E76F51;
}

